{% extends 'spagemaster.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}

<html>
  <head>
    <style>
      .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
      }
    </style>
  </head>
  <body>
    <br><br>
    <div class="container-fluid">
      {% for r in rs %}
        {% if r.s_profile %}
        <div class="col-md-2">
          <img src="{{r.s_profile.url}}" width="200px" alt="Profil">
          </div>
        {% else %}  
      <div class="col-md-2">
      <img src="{%static 'images/img_avatar.png' %}" width="200px" class="align-self-start mr-3" alt="Profile">
      </div>
    </div>
    {% endif %}
    <div class="col-md-2">
      <h3>Name:{{r.s_name}}</h3>
      <h3>Year:{{r.s_year}}</h3>
      <h3>Branch:{{r.s_branch}}</h3>
    </div>
    {% endfor %}
  </body>
</html>
{% endblock %}