{% extends "spagemaster.html" %}
{% block content %}

<div class="row">
    <div class="col-md-10">
      <h1>Uploaded</h1>
      <table class="table table-hover table bordered">
          <tr class="bg-warning">
              <td>Name</td>
              <td>Branch</td>
              <td>Year</td>
              <td>sub_id</td>
              <td>Uploaded File</td>
          </tr>
          {% for r in records %}
          <tr>
              <td>{{r.send_name}}</td>
              <td>{{r.branch}}</td>
              <td>{{r.year}}</td>
              <td>{{r.sub_id}}</td>
              <td><a class="text-info" href ="{{r.upload_file.url}}" download>{{r.upload_file}}</a></td>
          </tr>
          {% endfor %}
      </table>
    </div>
   
</div>
{% endblock %}