{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>UIT &mdash; </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include "bootstrap.html" %}

  </head>

  <body>
   <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col">
              <div class="site-logo">
               <a href="https://www.united.ac.in"><img src=" {% static  'images/ugi.jpeg' %} " alt="Not active" /> <strong>UNITED</strong></a>
              </div>
            </div>

            <div class="col-9 text-right text-lg-left">
              
              <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class="active"><a href="../" class="nav-link">Home</a></li>
                  <li class="has-children">
                    <li><a href="../tlogin/" class="nav-link">Teacher Login</a></li>  
                    <li><a href="../slogin/" class="nav-link">Student Login</a></li>  
                    <li><a href="../admin/" class="nav-link">Admin Login</a></li>  
                    <li><a href="../contact/" class="nav-link">Contact</a></li>  
                   
                   
                </ul>
              </nav>
            </div>

            
          </div>
        </div>

      </header>

<div class="hero overlay" style="background-image: url({% static 'images/sir1.jpg'%});">
        
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-12">

              <div class="row align-items-center justify-content-between">

                <div class="col-lg-5 intro">
                  <h1 class="text-white"><strong>Assignments</strong> &amp; Notes Sharing System</h1>
                  <p class="text-white">Without TEACHERS <b>LIFE </b>would have no <b>CLASS</b> </p>
                </div>

                <div class="col-lg-5">
                  <form class="book-form" action="../tlogin/" method="POST">
                    {% csrf_token %}
                    <h3>Teacher Login</h3>
                    <div class="row align-items-center">
                      <div class="mb-3 mb-md-4 col-md-12">
                        <input type="text" class="form-control" name="id" placeholder="Enter Id">
                      </div>
                      <div class="mb-3 mb-md-4 col-md-12">
                        <input type="text" class="form-control" name="t_name" placeholder="Enter Name">
                      </div>
                      <div class="mb-3 mb-md-4 col-md-12">
                        <input type="password" class="form-control" name="Password" placeholder="Enter Password">
                      </div>
                     
                      <div class="col-md-12">
                        <input type="submit" value="login" class="btn btn-primary btn-block py-3">
                      </div>
                    </div>
                    <div>
                    </div>
                  </form>

                </div>
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
      <footer class="site-footer" style="background-image: url({% static 'images/hero_bg_footer.jpg'%});">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <h2 class="footer-heading mb-4">About Us</h2>
              <p>An important pioneer of UNITED GROUP OF INSTITUTIONS since 2007 </p>
              <ul class="list-unstyled social">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
            <div class="col-lg-8 ml-auto">
              <div class="row">
                <div class="col-lg-4">
                  <h2 class="footer-heading mb-4">Quick Links</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    
                    <li><a href="#">Contact Us</a></li>
                  </ul>
                </div>
                
                <div class="col-lg-4">
                  <h2 class="footer-heading mb-4">Resources</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">AKTU</a></li>
                    
                    <li><a href="#">Myloft</a></li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <h2 class="footer-heading mb-4">Support</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">Grievance cell</a></li>
                    
                    <li><a href="#">Examination cell</a></li>
                  </ul>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
              <div class="border-top pt-5">
                <p>
              
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  United</a>
              
              </p>
              </div>
            </div>

          </div>
        </div>
      </footer>

    </div>

    

      </body>
      </html>
{% endblock %}